:root {
  /* Section Headers */
  --header-bg: #3d348bff; /* Tekhelet - Background of section headers */
  --header-text: #ffffff; /* White - Text color for section headers */

  /* Accent Colors */
  --cta-bg: #f7b801ff; /* Selective Yellow - Call to action (CTA) button background */
  --cta-text: #f18701ff; /* Tangerine - CTA button text */

  /* Text Colors */
  --primary-text: #333333; /* Dark text color for readability */
  --secondary-text: #7678edff; /* Medium Slate Blue - Secondary text color */

  /* Links and Highlights */
  --link-color: #3d348bff; /* Tekhelet - Color for links */
  --highlight-color: #f7b801ff; /* Selective Yellow - Highlighted text or elements */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100px;
  background-color: var(--header-bg);
  display: flex;
  justify-content: space-around;
}

.header .logo-text {
  width: 15%;
  height: 100px;
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo-text h2 {
  font-size: 25px;
  color: var(--header-text);
  font-weight: 500;
}

.header .navbar {
  width: 60%;
  height: 100px;
  /* border: 1px solid yellow; */
}

.header .navbar ul {
  height: 100px; /*specific height for ul to align-items center*/
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header .navbar ul li {
  font-size: 18px;
  color: var(--header-text);
}

.header .navbar ul li:hover {
  text-decoration: underline 1px;
  cursor: pointer;
  font-size: 19px;
}

.header .social-icons {
  width: 12%;
  height: 100px;
  /* border: 1px solid yellow; */
}

.header .social-icons ul {
  height: 100px;
  list-style-type: none;
  color: var(--header-text);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header .social-icons ul li i {
  font-size: 20px;
}
