.hero {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  padding: 60px 20px;
}

.hero .hero-text {
  width: 45%;
  height: auto;
  /* border: 1px solid yellow; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.hero .hero-text h2 {
  font-size: 40px;
  font-weight: 500;
}

.hero .hero-text em {
  color: rgb(107, 101, 101);
  margin-top: -5px;
}

.hero .hero-text p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

.hero .hero-image {
  width: 45%;
  height: auto;
  /* border: 1px solid yellow;   */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .image-container {
  width: 378px;
  height: 378px;
  border-radius: 10px;
  overflow: hidden;
}

.hero .image-container img {
  width: 100%;
}

.icons-container {
  width: 450px;
  height: 450px;
  position: absolute;
  /* border: 2px solid yellow; */
}

.icons-container .skill-icon {
  font-size: 50px;
  position: absolute;
  animation: oscillation 4s ease-in-out infinite;
  box-shadow: 1px 1px 8px white;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
}

.icons-container .fa-html5 {
  top: 50px;
  left: 5px;
}

.icons-container .fa-node-js {
  bottom: 50px;
}

.icons-container .fa-css3-alt {
  bottom: 115px;
  right: 0;
}

.icons-container .fa-react {
  right: 0;
  top: 20px;
}

@keyframes oscillation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}
